html,
body {
  position: relative;
  width: 100%;
}

body.simple-light {
  --bg: #ffffff;
  --text: #000000;
  --secondary-text: #999999;
}

body.simple-dark {
  --bg: #000000;
  --text: #ffffff;
  --secondary-text: #999999;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text);
	background-color: var(--bg);
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: inherit;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  cursor: pointer;
}
